@font-face {
    font-family: playfair;
    src: url('./assets/fonts/PlayfairDisplay.ttf');
}
@font-face {
    font-family: playfair-italic;
    src: url('./assets/fonts/PlayfairDisplay-Italic.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('assets/fonts/Montserrat.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat system-ui, -apple-system,'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    padding: 0 30px;
    color: #333333;
}
h1{
    font-family: playfair;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 0;
}

.subheader{
    color: #4f4f4f;
    
    display: flex;
    gap: 15px;
    align-items: self-start;
}
.subheader p {
    font-family: playfair-italic ;
    font-weight: 500;
}

.subheader img {
    padding-top: 5px;
}

main{
    margin:  30px  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main img {
   justify-self:center ;
    width: 90%;
}

.indicators{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    width: 100%;
    gap: 10px;
}

.indicators > div > p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12.19px;
}

.item{
    display: flex;
    gap: 5px;
    align-items: center;
}
.field-label {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 9.75px;
    font-size: 8px;
    color: #BDBDBD;
}
.yields{
    color: #F2994A;
    justify-items: start;
    grid-column-start: 1;
    grid-column-end: 4;

}

h2{
    font-family: playfair;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.99px;
}

h3{
    font-family: playfair-italic;
    font-weight: 500;
    line-height: 21.33px;
    font-size: 16px;
    padding:  20px 0;
}
input{
    align-items: start;
}
.ingredient-group{
    display: flex;
    gap: 5px;
}

.ingredient-group > p {
    padding-top: 5px;
    font-size: 14px;
}

.instuction-group{
    display: flex;
    gap: 20px;
    padding: 30px 0;
    height: auto;
}

.bold{
    font-weight: bold;
    color: #333333;
}
.numeral{
    background: #F2994A;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    color: white;
    font-family: playfair;
    font-weight: 700;
    min-width:40px;
    min-height:40px;
    max-height:40px;
    border-radius:6px;
  
}

.instuction-group > p {
    font-size: 16px;
    color:#000
}

.main-footer{
    font-size: 12px;
    color: #BDBDBD;
    font-style: italic;
}

.main-footer > P > a {
    text-decoration: none;
    color:#BDBDBD
}


.page-footer{
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: #828282;
    ;
}

@media screen and (min-width: 800px) {
    .ingredients-aside{
        display: flex;
        flex-direction: row-reverse;
        flex: 3fr 1fr;

    }

    main img {
         width: 90%;
     } 

    .indicators{
        max-width: 216px;
        max-height: 310px;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
}
